/* Making sure the minimum height of the page
is equal with the height of the viewport */
html,
body {
  height: 100%;
}

html {
  font-size: 16px;
}

/* Header */

.header > .container-fluid {
  padding: .5em 1.5em .5em;

  display: flex;
  justify-content: space-between;
}

.header .navbar-brand {
  font-size: 2em;
}

.header .nav {
  align-items: center;
  font-size: 1.15em;
}

.header .nav .sign-out {
  align-self: flex-end;
}

