header{
    width: 100%;
    background-image: url('assets/img/BackGroundImage.jpg');
    width: 100%;
    height: 500px;
    background-size: cover;
    position: fixed;
    top: 0;
    z-index: 1;
    transition: height 1000ms ease;
}

header.sticky {
    height: 70px;
}

.title{
    font-size: 60px;
    text-align: center;
    font-style: italic;
    position: absolute;
    background-image: inherit;
    color: white;
    width: 100%;
    border: none;
    opacity: .6;
    position: fixed;
    z-index: 1;
}


.title-container{
    width: 100%;
    height: 700px;
    background-image: url('assets/img/BackGroundImage.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-container{
    margin-top: 25%;
    width: 100%;
    height: 1200px;
    background-color: blanchedalmond;
    display:flex;
    justify-content: center;
    align-items: center;
}

.square-about-container{
    width: 70%;
    background-color: white;
    display:flex;
}

.square-image{
    flex:1;
    background-image: url('assets/img/about.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-title-font{
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
}

.square-about-title{
    width: 50px;
    height: 50px;
}
.about-description{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5%;
}

.square-about{
    flex:1;
    padding-left: 20px;
    padding-top: 5%;
    padding-bottom: 5%;
}

.tutorial-title{
    width: 100%;
    height: 250px;
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
}

.title-tutorial{
    font-size: 60px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.tutorial-container{
    width: 70%;
    height: 80%;
    background-color: white;
    display:flex;
    margin-top: 5%;
    margin-bottom: 5%;
}

.tutorial-description{
    flex:1;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    padding-top: 5%;
    padding-bottom: 5%;
}
.tutorial-about-title{
    flex:1;
    background-image: url('assets/img/tutorial.jpg');
    background-position-x: 70px;
    background-position-y: 130px;
    background-repeat: no-repeat;
    background-size: 1000px;
}

.tutorial-about-container{
    width: 100%;
    background-color: blanchedalmond;
    display:flex;
    justify-content: center;
    align-items: center;
}

.description-tutorial{
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    color: black;
}

.description-tutorial2{
    padding-top: 50px;
}

.image3{
    background-image: url('assets/img/1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}