/* GENERAL STYLES */
html,
.body {
  height: 100%;
}

.body {
  background-color: var(--light);
}

/* HEADER */
/* .nav--header */
.nav--header {
  padding: .35em .8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  background-color: var(--dark);
}

.nav--header span.help-trigger {
  cursor: pointer;
  color: hsl(210, 17%, 98%);
  font-size: 1.2em;
}

.nav--header span.help-trigger:hover {
  color: hsl(211, 100%, 50%);
}

.logo {
  width: 192px;
  height: auto;
}

.logo--dark {
  display: none;
}

/* MAIN */

.main {
  max-height: 85vh;
}

/* chess component */

/* numbers & letters */
.numeric-fc462,
.alpha-d2270 {
  color: var(--gray-dark);
  font-size: 16px;
 }

/* numbers */
.numeric-fc462 {
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
}

/* letters */
.alpha-d2270 {
  bottom: -25px;
  right: 50%;
  transform: translateX(50%);
  text-transform: uppercase;
}

[data-square]:before {
  content: "";
  border: 3px solid;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 50ms ease-in;
  transform: scale(0.9);
}

[data-square].highlight:before,
[data-square].highlight--s:before,
[data-square].highlight--u:before {
  opacity: 1;
}

[data-square].highlight:before,
[data-square].highlight--s:before {
  border-color: var(--teal);
}

[data-square].highlight--u:before {
  border-color: var(--primary);
}

/* .current-fen component */

.current-fen {
  margin-top: 25px;
  position: relative;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  word-break: break-word;
}

.current-fen > .border.border-info {
  padding: 3px 5px;
  margin-bottom: 0;
  border-radius: 5px;
  background-color: white;
  font-size: 13px;
}


.current-fen > .copy-current-fen {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  color: var(--info);
}

.current-fen > .feedback {
  padding: 3px 5px;
  border-radius: 4px;
  margin: 0;
  position: absolute;
  bottom: -100%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-weight: 600;
  opacity: 0;
  pointer-events: none;
  transition: all .25s ease-in-out;
}

/* .fen-loader component */

.fen-loader {
  margin-top: 10px;
  display: flex;
}

.fen-loader [name="fen-textarea"] {
  margin-right: 10px;
  resize: none;
}

.fen-loader [name="fen-textarea"]::placeholder {
  font-size: 18px;
  color:	hsl(208, 7%, 80%);
}

.fen-loader .fen-button {
  padding: 5px 10px;
  color: white;
  background-color: var(--teal);
}

.fen-loader .fen-button:hover {
  background-color: white;
  color: var(--teal);
  border-color: var(--teal);
}

.fen-loader ~ .fen-feedback {
  margin-bottom: 5px;
  opacity: 0;
  pointer-events: none;
  font-size: 15px;
  transition: opacity .2s ease-out;
}

/* match loader */

.match-loader {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.match-loader [name="match-textarea"] {
  resize: none;
  margin-right: 10px;
}

.match-loader [name="match-textarea"]::placeholder {
  font-size: 18px;
  color:	hsl(208, 7%, 80%);
}

.match-loader button.btn {
  background-color: var(--primary);
  color: white;
}
.match-loader button.btn:hover {
  background-color: white;
  color: var(--primary);
  border-color: var(--primary);
}

/* actions accordion */

.accordion {
  border: 1px solid;
  border-left: 0;
  border-bottom: 0;
  border-color: #dee2e6;
}

.accordion > .card > .card-header {
  padding: 0;
  border-radius: 0;
  background-color: white;
}

.accordion > .card > .card-header > h2 {
  text-align: center;
}

.accordion > .card:first-of-type > .card-header {
  border-left: 5px solid var(--teal);
}

.accordion > .card:first-of-type > .card-header > h2 > button.btn {
  color: var(--teal);
}

.accordion > .card:first-of-type > .card-header > h2 > button.btn:hover {
  color: var(--success);
}

.accordion > .card:last-of-type > .card-header > h2 > button.btn:hover {
  color: var(--info);
}

.accordion > .card:last-of-type > .card-header {
  border-left: 5px solid var(--primary);
}

.accordion > .card > .card-header button.btn:hover,
.accordion > .card > .card-header button.btn:focus {
  text-decoration: none;
}

.accordion > .card > .card-header > h2 {
  padding: 10px 0;
  display: flex;
  align-content: center;
}

.accordion > .card > .card-header > h2 > button.btn {
  padding-top: 0;
  padding-bottom: 0;
}

.accordion .card .card-body {
  background-color: var(--light);
}

/* .suggested-moves component */

.suggested-moves h4.list-group-item.active {
  z-index: auto;
}

.suggested-moves .list-group-item:hover {
  z-index: auto;
  cursor: pointer;
}

.suggested-moves .desc {
  max-width: 95%;
  font-size: 14px;
}

.suggested-moves__container {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  max-height: 54vh;
  overflow-y: scroll;
}

.suggested-moves__container .strategy {
  border-left: 0;
  border-right: 0;
}

.suggested-moves__container .strategy:first-of-type {
  border-top: 0;
}

.suggested-moves__container .strategy:last-of-type {
  border-bottom: 0;
}

.suggested-moves__container .strategy .name {
  font-size: 17px;
}

.suggested-moves__container .strategy__move {
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  background-color: var(--teal);
  opacity: 0;
  transition: opacity .15s ease-in-out;
}

.suggested-moves__container .strategy__move.in-view {
  opacity: 1;
}

.suggested-moves-button {
  padding: 5px 10px;
  margin-top: 10px;
  color: white;
  background-color: var(--teal);
}

.suggested-moves-button:hover {
  background-color: white;
  color: var(--teal);
  border-color: var(--teal);
}

/* loader */

.lds-ellipsis {
  display: inline-block;
  position: relative;
  transition: opacity 75ms ease-out;
  opacity: 0;
  pointer-events: none;
}

.lds-ellipsis.in-view {
  opacity: 1;
  pointer-events: auto;
}

.lds-ellipsis div {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: var(--warning);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

/* .strategy__move loader */

.strategy .strategy__move + .lds-ellipsis {
  left: -50%;
}

.strategy .strategy__move + .lds-ellipsis div {
  width: 7px;
  height: 7px;
}

/* .commentary loader */

.commentary > .loader {
  display: block;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
}

.commentary > .loader.in-view {
  opacity: 1;
  pointer-events: auto;
}

.commentary > .loader > .lds-ellipsis {
  width: 64px;
  opacity: 1;
  transform: translateY(-50%);
}

.commentary > .loader > .lds-ellipsis div {
  top: 0;
  width: 12px;
  height: 12px;
}

.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

/* .commentary component */

.commentary {
  border-radius: 5px;
  position: relative;
  min-height: 130px;
  max-height: 60vh;
  background-color: white;
}

.commentary .placeholder {
  text-align: center;
  font-size: 32px;
  color:	hsl(208, 7%, 85%);
}

.commentary .commentary__line {
  display: flex;
  font-size: 14px;
}

.commentary .commentary__line:last-of-type {
  margin-bottom: 0;
}

.commentary .commentary__line span.strategy-label {
  margin-right: 5px;
  font-size: 1.1em;
  font-weight: 700;
}

.commentary .commentary__line .user-move,
.commentary .commentary__line .suggested-move {
  padding: 0 3px;
  border: 1px solid #dee2e6;
  border-radius: 3px;

  display: inline-block;
  font-size: 1.1em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all .15s ease-in-out;
}

.commentary .commentary__line .user-move {
  background-color: hsl(211, 100%, 94%);
  color: var(--primary);
}

.commentary .commentary__line .suggested-move {
  background-color:	hsl(151, 84%, 95%);
  color: var(--teal);
}

.commentary .commentary__line .user-move:hover,
.commentary .commentary__line .suggested-move:hover {
  text-decoration: none;
}

.commentary .commentary__line .user-move:hover {
  border-color: var(--primary)
}

.commentary .commentary__line .suggested-move:hover {
  border-color: var(--teal)
}

/* flip chessboard */

.flip-button {
  padding: 5px 10px;
  margin-top: 10px;
  color: white;
  background-color: var(--teal);
}

.flip-button:hover {
  background-color: white;
  color: var(--teal);
  border-color: var(--teal);
}

/* strategies-details component */

.strategies-details {
  height: 100%;
  width: 50%;
  position: fixed;
  top: 0;
  pointer-events: none;
  transform: translateX(-100%);
  transition: transform .3s ease-in-out;
  background-color: var(--dark);
}

.strategies-details__close {
  position: absolute;
  top: 21px;
  right: 10px;
  z-index: 1;
  font-size: 20px;
}
.strategies-details__close:hover {
  text-decoration: none;
}

.strategies-details.in-view {
  pointer-events: auto;
  transform: translateX(0);
}

.strategies-details__title {
  color: hsl(210, 17%, 98%);
}

.strategies-details .container-fluid .row .col-12 .card {
  position: absolute;
  top: 0;
  left: 15px;
  right: 15px;
  opacity: 0;
  pointer-events: none;
}

/* .help component */
.help {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  opacity: 0;
  pointer-events: none;
  transition: transform .3s ease-in-out,
              opacity .5s ease-in-out;
  transform: translateY(-100%);
  z-index: 3;
}

.help.in-view {
	opacity: 1;
	pointer-events: auto;
	transform: translateY(0);
}

.help .help__close {
  padding: 5px;
  position: absolute;
  top: 5px;
  right: 10px;
  text-decoration: none;
  font-size: 20px;
  z-index: 4;
}

.help__content {
  display: inline-block;
}

/* .help__content dl {
  font-size: 1.1em;
} */

.help__content hr {
  border-color: var(--dark);
}

/* comments component */

#comments-body {
  margin-top:20px;
}

.comment-wrapper .panel-body {
  max-height:650px;
  overflow:auto;
}

.comment-wrapper .media-list .media img {
  width:64px;
  height:64px;
  border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
  border-bottom:1px dashed #efefef;
  margin-bottom:25px;
}

.panel-info {
  border-color: #bce8f1 !important;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-info > .panel-heading {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.comment-wrapper .panel-body {
  max-height: 650px;
  overflow: auto;
}
.panel-body {
  padding: 15px;
}

textarea.form-control {
  height: auto;
}

.media-list {
  padding-left: 0;
  list-style: none;
}

ol, ul {
  margin-top: 0;
  margin-bottom: 10px;
}

.comment-wrapper .media-list .media {
  border-bottom: 1px dashed #efefef;
  margin-bottom: 25px;
}

.media > .float-left {
  padding-right: 10px;
}

.img-circle {
  border-radius: 50%;
}

img {
  vertical-align: middle;
}