/* GENERAL STYLES */


/* HEADER */
/* .nav--header */
.nav--header__logo {
  float: left;
  color: white;
  height: 82px;
  border-radius: 50px;
}

.nav--header {
  overflow: hidden;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.nav--header li, 
.nav--header__app-title {
  float: left;
  color: #c0bbbb;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  list-style-type: none;
  cursor: pointer;
}

.nav--header__app-title {
  font-size: 36px;
  text-decoration: none;
}

.nav--header__app-title:hover {
  color: white;
}

/* MAIN */
.main {
  padding-top: 30px;
}

/* .fen-loader component */

.fen-loader {
  margin-top: 20px;
  display: flex;
}

.fen-loader [name="fen-textarea"] {
  margin-right: 10px;
  resize: none;
}

.fen-loader .fen-button {
  padding: 13px 15px;
}

.fen-loader + .fen-feedback {
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease-out;
}

/* .suggested-moves component */

.suggested-moves .desc {
  font-size: 14px;
}

.suggested-moves .strategy__move {
  opacity: 0;
  transition: opacity .3s ease-in;
}

.suggested-moves-button {
  padding: 15px;
	margin-top: 10px;
}

.flip-button {
	  padding: 15px;
	margin-top: 10px;
}

/* .help component */
