/* GENERAL STYLES */


/* HEADER */


/* MAIN */
.main {
  padding-top: 30px;
}

/* .fen-loader component */

.fen-loader {
  margin-top: 20px;
  display: flex;
}

.fen-loader [name="fen-textarea"] {
  margin-right: 10px;
  resize: none;
}

.fen-loader .fen-button {
  padding: 13px 15px;
}

.fen-loader + .fen-feedback {
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease-out;
}

/* .suggested-moves component */

.suggested-moves .desc {
  font-size: 14px;
}

.suggested-moves .strategy__move {
  opacity: 0;
  transition: opacity .3s ease-in;
}

.suggested-moves-button {
  padding: 15px;
	margin-top: 10px;
}

/* FOOTER */
